	<table>
	<% var i; for(i=0; i<quizes.length; i++) {%>
	  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<<<<<<< HEAD
	<% } %>
=======
	<% } console.log("preguntas: " + quizes.length)%>
>>>>>>> e6ecaec5d6d4b5f97d03c8ce4a2da9f525446fc4
	</table>
