	<table>
	<% var i; for(i=0; i<quizes.length; i++) {%>
	  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
	</table>
	<table>
	  <tr><td><form method="get" action="/quizes">
	  Búsqueda de preguntas:<input type="text" name="search" value=""/><input type="submit" value="Buscar"/>
        </form></td></tr>
	</table>

