    <form method="get" action="/quizes/answer">
	<p>Pregunta: <%= pregunta %></p>
	<p>Responda aquí: </p><input type="text" name="respuesta" value=""/>
	<input type="submit" value="Enviar"/>
    </form>
