    <form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<p>Tematica: <%= quiz.tematica %></p>
	<p>Responda aquí: </p><input type="text" name="respuesta" value=""/>
	<input type="submit" value="Enviar"/>
    </form>
